.navbars{
    background-color: #040303!important;
    padding-top: 7px!important;
}
.nav-head{
    padding-top: 0px!important;
    margin-top: 0px!important;
    margin-bottom: 0px!important ;
    padding-bottom: 0px!important ;
    margin-left: 26px!important;
}
.search-bar{
    border-color: #57606a!important;
    display: table-cell!important;
    background-color: #040303!important;
    position: relative;
    /* margin-top: 12px; */
    height: 27px;
    width: 199px!important;
    /* padding: 20px!important;  */
    border-width: 0.5px!important;
    border-radius: 5px!important ;
    
}
.nav-user{
    margin-right: 60px!important;
}
.profile-part{
    margin-right: 111px!important;
}

.logout{
    color: #040303!important;
}